<div class="comment-container">
    <div class="comment-header-container">
        <div class="comment-header">{{this.user.username}}</div>
        <div class="comment-date">{{this.createdAt}}</div>
    </div>
    <div class="comment-body">{{this.content}}</div>
</div>