<div class="post-container">
    <div class="post-body-container">
        <div class="post-header">{{title}}</div>
        <div class="post-user">Posted by: <span>{{user.username}}</span></div>
        <div class="post-body">{{content}}</div>
        <div class="post-date">Posted on: {{createdAt}}</div>
    </div>
        
    
    {{#each comments as |comment|}}
    {{>commentDetails}}
    {{/each}}
</div>