<h1>Sign Up:</h1>
<section class='test-section my-5 fit-content align-items-center'>
  <form class='registration-form align-items-center row' id='registration-form'>
    <div class='row mx-auto justify-content-center align-items-center'>
      <div class='form-group col-sm-3 align-items-center'>
        <label for="username">Username</label>
        <input class='form-control fit-content' id='usernameInput' placeholder='Username' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center align-self-center'>
      <div class='form-group col-sm-6'>
        <label for="passwordInput">Password</label>
        <input type='password fit-content' class='form-control' id='passwordInput' placeholder='Password' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center align-self-center'>
      <div class='form-group col-sm-6'>
        <label for='passwordConfirmInput'>Confirm Password</label>
        <input type='password fit-content' class='form-control' id='passwordConfirmInput' placeholder='Confirm Password' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center my-4 align-self-center'>
      <div class='form-group col-sm-6'>
        <button type="submit" class='btn btn-primary form-control' id="register-button">Register</button>
      </div>
    </div>
  </form>
</section>
<script src="./js/register.js"></script>